.header {
	background: #f4f4f4;
	padding: 40px 0px 20px;
	box-shadow: 0px 4px 8px 0px rgba(219,219,219,1);

	.calendar-panel {
		display: flex;
		width: 100%;
		justify-content: space-between;

		.calendar-panel__buttons {
			.ant-btn {
				margin-right: 16px;
			}
		}
		.calendar-panel__search {
			position: relative;
			.search-clear-val {
				position: absolute;
				top: 50%;
				margin-top: -9px;
				right: 5px;
				cursor: pointer;
				z-index: 5;
				font-weight: bold;
			}
			.ant-input-search {
				.ant-input-suffix {
					position: absolute;
					left: -25px;
					width: 14px;
				}
			}
		}
	}
}
