.calendar-comp {
	overflow-x: hidden;
	.calendar {
		position: relative;
		.calendar-navigate {
			width: 100%;
			display: flex;
			margin-bottom: 25px;

			& > * {
				margin-right: 10px;
			}

			.calendar-comp__left,.calendar-comp__right {
				padding: 0px 10px;
			}

			.calendar-comp__mounth {
				display: flex;
				height: 29px;
				min-width: 185px;
				padding: 0px 10px;
				text-align: center;
				align-items: center;
				justify-content: center;
				font-size: 24px;
			}
		}
		.animate-block {

			.calendar-comp__dayes {
				.dayes__dayes-names {
					box-shadow: inset 0px 0px 0px 2px black;
					display: flex;
					flex-direction: row;

					.dayes-names_block {
						flex-basis: 14.28571428%;
						justify-content: center;
						align-items: center;
						height: 30px;
						list-style: none;
						display: flex;
						box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
						box-sizing: border-box;
					}
				}
				.dayes__dayes-numbers {
					display: flex;
					flex-wrap: wrap;
					box-shadow: inset 0px 0px 0px 2px black;
					margin-top: -2px;

					.dayes-numbers__day {
						flex-basis: 14.28571428%;
						//margin-right: 1px;
						//margin-bottom: 1px;
						box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
						box-sizing: border-box;
						padding: 10px 10px;
						cursor: pointer;
						text-align: left;

						&.is-event {
							background: #c1e4ff;
						}
						&.todayDay {
							background: #2187d6;
						}
						&.todayDay,.is-event {
							background: #18629d;
						}

						//fix to be square
						&:after {
							content: '';
							display: block;
							padding-bottom: 50%;
						}

						&:first-child {
							border-left: 1px solid #000;
						}
						&:last-child {
							border-right: 1px solid #000;
						}

						&.next-month {
							border-bottom: 1px solid #000;
						}
						&.prev-month {
							border-top: 1px solid #000;
						}


						&:hover {
							background: #cc381e !important;
							color: #fff;
						}
						&.active {
							background: #cc381e !important;;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

/*calendar-popover*/
.update-event-popover {
	width: 380px;
	position: relative;

	.ant-popover-arrow {
		border-right-color: #fff !important;
		border-left-color: #fff !important;
		left: -1px !important;
		border-width: 11px;
	}

	.ant-popover-inner-content {
		padding: 20px;

		.add-event__content__row {
			margin-bottom: 14px;
		}
	}

	.add-event__content__textarea {
		margin-top: 25px;
		height: 80px;
	}

	.close {
		position: absolute;
		right: 6px;
		top: 6px;
		font-size: 14px;
	}

	.about-event {
		.about-event__title {
			font-size: 20px;
			margin-bottom: 15px;
			font-weight: 500;
		}
		.about-event__date  {
			margin-bottom: 15px;
			span {
				margin-right: 10px;
			}
		}
		.about-event__event-party__names {
			font-size: 16px;
		}
	}
}


/*asnimation*/
.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}